body {
  background-color: rgb(246, 255, 235);
}

.App-logo {
  height: 20vmin;
  transform: translate(0, -50px);
}

.App-title {
  font-size: 100px;
  line-height: 0;
  font-family: Arial, sans-serif;
  color: #333;
  text-align: justify;
  letter-spacing: 0.5px;
  transform: translate(0px, -75px);
  font-weight: bold;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Button-Pages {
  display: flex;
  justify-content: space-between;
  width: 57%;
  transform: translate(0, -50px);
}
